#container-1 {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 10px grey;
  width: 200px;
}

#container-1 #input-1 {
  background-color: blue;
}
#container-1 #button-1 {
  background-color: green;
}